extends layout

block content
  .container
    h1 Potrebna prijava
    p Trenutno niste prijavljeni. Molimo prijavite se kako biste mogli nastaviti.
    a(href="/auth/organizer")
      button Prijava
    a(href='/')
      button Natrag na poÄetnu stranicu
