//- extends layout

//- block content
//-   h1= title
//-   a(href="/auth/organizer") Prijava

extends layout

block content
  h1= title
  p Trenutno niste prijavljeni. Molimo prijavite se kako biste mogli nastaviti.
  a(href="/auth/organizer")
    button Prijava
